
<div class="row" style="padding-top: 5%; padding-bottom: 5%;">
  <div class="row"  style="background-color: rgb(159, 53, 150); padding-top: 5%; text-align: center; 
  height: 100px;">
    <div class="col-sm" >
    </div>
    <div class="col-sm">
      <img src="./../../../assets/img/img2.jpg" 
      alt="no se econtro" width="50%" height="200px" 
      style="border-radius: 100%; margin-top: -25%; border:solid rgb(159, 53, 150);">
    </div>
    <div class="col-sm">
    </div>
  </div>

</div>
   


<div class="container">
  <div class="row" style="text-align: center;">
    <div class="col-sm-4">

        <p-card (click)="irImagenes()">
            <ng-template pTemplate="header">
                Imagenes
            </ng-template>
            <img src="./../../../assets/img/camara.png" width="80%" height="80%">
        </p-card>

    </div>
    <div class="col-sm-4">
      <h1>
      </h1>
    </div>
    <div class="col-sm-4">
    </div>
  </div>



</div>
   